body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    height: 100%;
}

.main-screen {
    width: 70%;
    position: relative;
}

.score-panel {
    width: 10%;
    height: 50%;
    border-radius: 15px 0 0 15px;
    background: url(images/wood.jpg);
    border: 3px solid black;
    border-width: 3px 0 3px 3px;
    color: rgb(255, 208, 0);
}

.score-panel h2 {
    margin: 8px;
    border-bottom: 1px solid rgb(255, 208, 0);
}

.score-panel h1 {
    text-align: center;
    font-size: 70px;
    text-shadow: #e55d5d 0 0 20px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 100%;
    padding-top: 70%;
    position: relative;
    background: url(images/wood.jpg);
    border-radius: 15px;
    border: 3px solid black;
}

.game-field {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.game-field td {
    position: relative;
    margin: 3px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.open {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.card-front {
    background: url(images/cardback.png);
    background-size: 100% 100%;
}

.card-back {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    color: white;
    border-radius: 5px;
    position: relative;
}

.card-back img {
    width: 100%;
}

.square_btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*button color*/
    border-bottom: solid 2px #d27d00;/*daker color*/
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 60px;
}

.square_btn:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}