body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-field {
    background-color: aqua;
}

.game-field td {
    background: url(images/cardback.png);
    background-size: cover;
    width: 100px;
    height: 150px;
    margin: 1px;
}